.welcome {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    width: 100svw;
    overflow-x: clip;
    height: calc(100 * var(--vh, 1vh));
    margin-bottom: calc(10 * var(--vh, 1vh));

    /* scroll-snap-align: center; */
    /* scroll-snap-stop: always; */
    /* background-color: rgb(55, 255, 0); */
}
.contentWrapper {
    display: flex;
    flex: 1;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 0 5svw;
    /* flex-wrap: wrap; */
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
    padding: 0 2svw;
}
.intro h1 {
    font-size: calc(min(calc(40px + calc(1.5 * var(--vh, 1vh))), 8vw));
}

.contact_btnWrapper {
    font-size: smaller;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contact_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #343435;
    /* background-color: rgba(20, 20, 20, 1); */
    /* background: linear-gradient(rgb(60, 46, 88), rgb(38, 24, 67)); */
    padding: 0.5rem 1rem;
    gap: 0.5rem;
    border-radius: 1vmin;
    border: none;
    font-size: 0.9rem;
}

.contact_btn img {
    width: 1.5rem;
    height: 1.5rem;
}

.contact_btn:hover {
    cursor: pointer;
}
.contact_btn:active {
    transform: translateY(1px);
}
/* .pic {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5vmin;
} */

.pic {
    position: relative;
    min-height: clamp(500px, calc(90 * var(--vh, 1vh)));
    min-width: clamp(500px, calc(90 * var(--vh, 1vh)));
    display: flex;
    justify-content: center;
    align-items: stretch;
    overflow: hidden;
}

.imgWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.img {
  display: block;
  width: min(calc(10rem + calc(12 * var(--vmin, 1vmin))), calc(60 * var(--vh, 1vh)));
  height: min(calc(12rem + calc(12 * var(--vmin, 1vmin))), calc(60 * var(--vh, 1vh)));
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: top;
  image-rendering: optimizeQuality;
  border-radius: 10%;
  z-index: 1;
  position: relative;
}



.imgBlur {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/ps001.png");
  background-size: cover;
  filter: blur(30px);
  z-index: 0;
  width: 100%;
  height: 100%;
  border-radius: 10%;
  opacity: 0.3;
}


.svgBlob {
    position: absolute;
    top: 0;
    left: -100px;
    width: 30vw;
    z-index: 0;
    rotate: 90deg;
    display: none;
}

/* @media (max-width: 700px) {
	 .wrapper {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 100% auto;
	}
	.contentWrapper {
		grid-row: 1/2;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}
	.wrapper {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr auto auto;
	}

	.contact_btn {
		min-width: max-content;
		padding: 0 4%;
		font-size: 2.5vmin;
	}
	.contact_btnWrapper {
		grid-row: 2;
	}
	.pic {
		width: 30vmin;
	}
	.intro h1 {
		font-size: 6vmin;
		line-height: 150%;
	}
} */

@media (max-width: 700px) {
    .intro h1 {
        font-size: 2rem;
        line-height: 130%;
    }
    .contentWrapper {
        flex: 1;
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: calc(5 * var(--vmin, 1vmin));
        padding: calc(5 * var(--vmin, 1vmin)) 0;
    }
    /* .pic {
		height: 60vmin;
	} */
    .pic {
        width: min(200px, 20rem);
        height: min(200px, 20rem);
        justify-content: center;
        align-items: center;
    }
    .img {
        display: block;
        width: min(200px, 20rem);
        height: min(200px, 20rem);
    }
}
@media (min-width: 1800px) {
    .img {
        width: clamp(15rem, 32vmin, 20rem);
        height: clamp(20rem, 35vmin, 24rem);    
    }
    .contentWrapper {
        display: flex;
        flex: 1;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        gap: 50px;
        align-items: stretch;
        flex-wrap: wrap;
        margin-top: calc(5 * var(--vh, 1vh));
        /* flex-wrap: wrap; */
    }
    .intro h1 {
        font-size: clamp(3rem, 5vw, 4rem);
    }
}

.blinking {
    animation: blinking 0.8s infinite;
}
@keyframes blinking {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
