.navbar {
	position: fixed;
	top: 0;
	left: 0;
	/* background-color: rgba(0, 0, 0, 0.2); */
	
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100lvw;
	z-index: 1000;
	background-color: rgba(46, 46, 46, 0.123);
	/* background-color: red; */
	backdrop-filter: blur(10px);
	overflow: hidden;
	padding: calc(2 * var(--s, 1vh)) 10px;
}
.navbar_btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: max-content;
	text-align: center;
	aspect-ratio: 30/9;
	cursor: pointer;
	user-select: none;
	width: 100px;
  min-width: max-content;
	border-bottom: 2px rgba(226, 64, 177, 0) solid;
	transition: all 0.2s ease;
}
.navbar_btn:hover {
	/* background-color: rgba(0, 0, 0, 0.133); */
	color: #b3c1e6;
	/* border-bottom: 2px rgba(0, 0, 0, 0.268) solid; */
	/* border-left: 2px rgba(0, 0, 0, 0.268) solid; */
	/* transform: scale(1.1); */
}
.navbar_btn:active {
	transform: scale(0.9);
}
/* .navbar_btn span:hover {
	border-bottom: 2px rgba(226, 64, 177, 0) solid;
}
.navbar_btn span:hover {
	border-bottom: 2px rgb(226, 64, 178) solid;
} */
.routingBtnsContainer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex: 1;
	z-index: 200;
}

.routingBtnsContainer a {
	z-index: 200;
}
.name {
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0 6vmin;
	font-size: 0.8rem;
	grid-area: title;
}


/* .social div {
	display: flex;
	align-items: center;
	width: auto;
	height: 100%;
	cursor: pointer;
	border-bottom: 2px rgba(226, 64, 177, 0) solid;
	border-bottom: 0px rgb(226, 64, 178) solid;
}
.social div:hover {
	border-bottom: 0px rgb(226, 64, 178) solid;
}
 */



.social svg {
	cursor: pointer;
	width: 30px;
}
.social svg:active {
	transform: translateY(1px);
}

.right {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex: 1;
	height: 100%;
	margin-right: 4px;
}

.left {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex: 1;
	height: 100%;
	margin-left: 4px;
}

.social a {
	display: flex;
	align-items: center;
	justify-content: center;
}
