.navbar {
	position: fixed;
	top: 0;
	left: 0;
	/* background-color: rgba(0, 0, 0, 0.2); */
	
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	z-index: 1000;
	background-color: rgba(46, 46, 46, 0.123);
	backdrop-filter: blur(10px);
	padding-top: calc(2 * var(--vh, 1vh));
}
.navbar_btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: max-content;
	text-align: center;
	aspect-ratio: 20/9;
	cursor: pointer;
	user-select: none;

	border-bottom: 2px rgba(226, 64, 177, 0) solid;
}
.navbar_btn:hover {
	/* background-color: rgba(0, 0, 0, 0.133); */
	color: #b3c1e6;
	/* border-bottom: 2px rgba(0, 0, 0, 0.268) solid; */
	/* border-left: 2px rgba(0, 0, 0, 0.268) solid; */
	/* transform: scale(1.1); */
}
.navbar_btn:active {
	transform: scale(0.9);
}
/* .navbar_btn span:hover {
	border-bottom: 2px rgba(226, 64, 177, 0) solid;
}
.navbar_btn span:hover {
	border-bottom: 2px rgb(226, 64, 178) solid;
} */
.routingBtnsContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3svw;
	z-index: 200;
}

.routingBtnsContainer a {
	z-index: 200;
}
.name {
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0 6vmin;
	font-size: 0.8rem;
	grid-area: title;
}

.social {
	display: flex;
	justify-content: center;
	gap: 4vmin;
	grid-area: social;
	width: 100%;
	height: 100%;
}
.social div {
	display: flex;
	align-items: center;
	width: auto;
	height: 100%;
	cursor: pointer;
	border-bottom: 2px rgba(226, 64, 177, 0) solid;
	border-bottom: 0px rgb(226, 64, 178) solid;
}
.social div:hover {
	border-bottom: 0px rgb(226, 64, 178) solid;
}
