.social {
	position: absolute;
	left: 0;
	display: flex;
	flex-direction: row;
	width: 100%;
	gap: calc(1 * var(--vmin, 1vmin));
	justify-content: space-between;
	align-items: center;
	padding: 0 min(20px, calc(4 * var(--vmin, 1vmin)));

}

.social svg {
	cursor: pointer;
	height: max(calc(4 * var(--vmin, 1vmin)), 30px);
}
.social svg:active {
	transform: scale(0.9);
}
/* @media (max-width: 700px) {
	.social {
		height: fit-content;
		position: static;
		grid-row: 3;
		grid-column: 1/3;
		width: 100%;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 2.5% 0;
	}
} */
