.tag {
    user-select: none;
    z-index: 200;
}
.tag h1 {
    font-size: 2rem;
    color: rgb(121, 121, 121);
}

.skillsPage {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 10px 10vw;
    max-width: 100%;
    overflow: hidden;
    text-align: center;
    overflow-x: hidden;
    scroll-snap-align: center;

    
}
.skillsWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;

    overflow: hidden;
}

.skillset {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 20px;
    transform: translate3d(0, 0, 0);
    text-rendering: optimizeLegibility;
}

.skillsWrapper:nth-child(odd) .skillset {
    animation: goLeft 20s linear forwards infinite;
}
.skillsWrapper:nth-child(even) .skillset {
    animation: goRight 20s linear forwards infinite;
}

/* @media (hover: hover) and (pointer: fine) {
    .skillsWrapper:hover .skillset {
        animation-play-state: paused;
    }
} */


.skill {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    width: min-content;
    height: 170px;
    aspect-ratio: 1;
    background-color: rgb(20, 20, 20);
    transform: translate3d(0, 0, 0);
    border-radius: 15px;
    transition: all 0.2s ease;
    padding: 10px;
    gap: 10px;
    color: rgb(194, 194, 194);
}

.skill .icon {
  position: relative;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.skill .icon img {
  object-fit: contain;
}

.skill:hover {
    transform: scale(1.05);
    /* order: -2; */
}



.skillsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



/* .goToEnd{
	position: relative;
	left: 100vw;
} */

/* .skill:nth-child(1) {
	order: 2;
	background-color: aqua;
} */
@keyframes goLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
@keyframes goRight {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}
@keyframes goUp {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateY(-100%);
    }
}


@media screen  and (max-width: 700px) {
   .tag h1 {
       font-size: 1.5rem;
   }
   .skill {
    font-size: 0.5rem;
    font-weight: 100;
   }
   .skill {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        align-items: center;
        width: min-content;
        height: 100px;
        aspect-ratio: 1;
        background-color: rgb(20, 20, 20);
        transform: translate3d(0, 0, 0);
        border-radius: 15px;
        transition: all 0.2s ease;
        padding: 10px;
        gap: 10px;
        font-size: 0.8rem;

    }

    .skill .icon {
        position: relative;
        width: 32px;
        height: 32px;
        object-fit: cover;
    }
}