.tag {
    user-select: none;
    z-index: 200;
}
.tag h1 {
    font-size: calc(5 * var(--vmin, 1vmin));
}

.skillsPage {
    display: flex;
    min-height: calc(86* var(--vh, 1vh));
    flex-direction: column;
    justify-content: space-between;
    padding: calc(2 * var(--vmin, 1vmin)) calc(10 * var(--vmin, 1vmin));
    max-width: 100%;
    overflow: hidden;
    text-align: center;
    scroll-snap-align: start;
    overflow-x: hidden;
}
.skillsWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
    overflow: hidden;
}

.skillset {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    padding: calc(2 * var(--vmin, 1vmin));
    gap: calc(4 * var(--vmin, 1vmin));
    transform: translate3d(0, 0, 0);
}

.skillsWrapper:nth-child(odd) .skillset {
    animation: goLeft 40s linear infinite;
}
.skillsWrapper:nth-child(even) .skillset {
    animation: goRight 40s linear infinite;
}

@media (hover: hover) and (pointer: fine) {
    .skillsWrapper:hover .skillset {
        animation-play-state: paused;
    }
}


.skill {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    width: min-content;
    height: calc(25 * var(--vmin, 1vmin));
    aspect-ratio: 1;
    background-color: rgb(20, 20, 20);
    transform: translate3d(0, 0, 0);
    border-radius: 15px;
    transition: all 0.2s ease;
}

.skill .icon {
  position: relative;
  width: calc(7 * var(--vmin, 1vmin));
  height: calc(7 * var(--vmin, 1vmin));
}
.skill .icon img {
  object-fit: contain;
}

.skill:hover {
    transform: scale(1.05);
    /* order: -2; */
}



.skillsContainer {
    display: flex;
    flex-direction: column;
    gap: 0vmin;
}



/* .goToEnd{
	position: relative;
	left: 100vw;
} */

/* .skill:nth-child(1) {
	order: 2;
	background-color: aqua;
} */
@keyframes goLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
@keyframes goRight {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}
@keyframes goUp {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateY(-100%);
    }
}
